@font-face {
  font-family: "black_nemesis_perosdemogrunge";
  src: url("./assets/BlackNemesisPerosonalUSE-DEMO-Grunge.woff2")
      format("woff2"),
    url("./assets/BlackNemesisPerosonalUSE-DEMO-Grunge.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}

#root {
  height: 100vh;
  height: 100vh;

  --red: #f44336;
}

html,
body {
  width: 100vw;
  height: 100vw;
  font-size: 62.5%;
  background-color: rgb(40, 40, 40);
  color: black;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 15%;
  font-family: "black_nemesis_perosdemogrunge";
  color: var(--red);
}

h1 {
  font-size: 12vh;
  margin: 0 auto;
}

#clickmespan {
  font-family: "black_nemesis_perosdemogrunge";
  color: var(--red);
  font-size: 36px;
  position: fixed;
  top: 85%;
  left: 3%;
}

#removeSpan {
  display: none;
}

#gif {
  position: fixed;
  height: 33%;
  top: 40%;
  left: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%);
}

#removeGif {
  position: fixed;
  height: 33%;
  top: 40%;
  left: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  animation: removeGif 0s 8s forwards;
}

audio {
  position: fixed;
  top: 90%;
  left: 3%;
  width: 33%;
  z-index: 1;
}

.full-calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px !important;
  width: 300px !important;
  transform: translate(-50%, -50%);
  border: 2px solid var(--red);
  visibility: hidden;
}

#calcResults {
  background-color: transparent !important;
  width: 100%;
  height: 10%;
  padding-right: 5%;
  text-align: right;
  color: var(--red);
}

.calculatorDiv {
  height: 90%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.calcButtons {
  width: 25%;
}

.zero {
  width: 50%;
}

.MuiButton-label,
#calcResults {
  font-size: 28px;
  width: auto;
}

/* IDs for animation */

#calc-animation {
  animation: displayCalculator 0s 8.1s forwards;
  visibility: hidden;
}

#preexplosion {
  display: none;
}

#fireball {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  visibility: hidden;
  animation-name: displayExplosion, moveBehind;
  animation-delay: 8s, 11s;
  animation-duration: 3s;
  z-index: 2;
}

button.calcButtons {
  color: black !important;
}

/* animation keyframes */

@keyframes displayCalculator {
  to {
    visibility: visible;
    z-index: 1;
  }
}

@keyframes displayExplosion {
  to {
    visibility: visible;
  }
}

@keyframes moveBehind {
  to {
    z-index: -1000;
  }
}

@keyframes removeGif {
  to {
    visibility: hidden;
  }
}
