@font-face {
  font-family: "black_nemesis_perosdemogrunge";
  src: url("./assets/BlackNemesisPerosonalUSE-DEMO-Grunge.woff2")
      format("woff2"),
    url("./assets/BlackNemesisPerosonalUSE-DEMO-Grunge.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100vh;
  height: 100vh;
}

html,
body {
  width: 100vw;
  height: 100vw;
  font-size: 62.5%;
  background-color: gray;
  overflow: hidden;
}

* {
  border: 1px solid black;
}

.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid orange;
  font-size: 7vmin;
}

img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

audio {
  position: fixed;
  top: 75%;
  margin: 0 auto;
  z-index: 1;
}

.calcResults {
  background-color: transparent !important;
  width: 100%;
  height: 10%;
  padding-right: 5%;
  text-align: right;
}

.calculatorDiv {
  height: 90%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.calcButtons {
  width: 25%;
  height: auto;
}

.MuiButton-label {
  font-size: 4vmin;
}

.zero {
  width: 50%;
}

#full-calculator-container {
  height: 50%;
  width: 30%;
  display: flex;
  margin: 2% auto;
  flex-wrap: wrap;
  font-size: 4vmin;
  display: none;
}

#calc-animation {
  height: 50%;
  width: 30%;
  display: flex;
  margin: 2% auto;
  flex-wrap: wrap;
  font-size: 4vmin;
  animation: displayCalculator 0s 8.1s forwards;
  visibility: hidden;
}

#fireball-starter {
  position: absolute;
  top: 0;
  left: 10%;
  object-fit: contain;
  display: none;
}

#fireball {
  position: absolute;
  top: 0;
  left: 10%;
  object-fit: contain;
  visibility: hidden;
  animation: displayExplosion 0s 8s forwards;
}

.header-title {
  font-family: "black_nemesis_perosdemogrunge";
}

/* .soundcloud-widget {
  display: none;
}*/

@keyframes displayCalculator {
  to {
    visibility: visible;
    z-index: 1;
  }
}

@keyframes displayExplosion {
  to {
    visibility: visible;
  }
}
